body{
    background-color: coral;
    margin: 0;
}
h1{
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
}
img{
    border-radius: 10px;
    width: 25%;
    /* tamaño - tipo - color  */
    border: 2px solid black ;
    /* padding: 2px; espacio interno  */
    /* para centrar primero tienes que convertirlo en un block  */
    display: block;
    /* se tiene que poner estas opciones para centrar la imagen  */
    margin-left: auto;
    margin-right: auto;
    /* para añadir filtros  */
    filter: opacity(0.3);
    /* sirve para añadir imagen transparente  */

}
img:hover{
    /* para girar scaleX -1  */
    transform: scaleX(-1);
}
*{
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}